In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

games = pd.read_csv("C:/Users/user/Desktop/game dataset/games.csv")
print(games.shape) # 50872 rows x 13 columns
games.head(5)

# games.describe()

(50872, 13)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True

In [56]:
# detail in columns : 분석에 필요할 것 같은 column만 디테일 카운트 확인
print('mac user count\n',games['mac'].value_counts())
print('\nlinux user count\n',games['linux'].value_counts())
print('\nrating count\n',games['rating'].value_counts())
print('\nsteam deck availablity\n',games['steam_deck'].value_counts())

# 확률 표기) 예시 : steam deck availability
print('\nsteam deck availability(normalized)',games['steam_deck'].value_counts(normalize=True))

mac user count
 mac
False    37854
True     13018
Name: count, dtype: int64

linux user count
 linux
False    41831
True      9041
Name: count, dtype: int64

rating count
 rating
Positive                   13502
Very Positive              13139
Mixed                      12157
Mostly Positive             8738
Mostly Negative             1849
Overwhelmingly Positive     1110
Negative                     303
Very Negative                 60
Overwhelmingly Negative       14
Name: count, dtype: int64

steam deck availablity
 steam_deck
True     50870
False        2
Name: count, dtype: int64

steam deck availability(normalized) steam_deck
True     0.999961
False    0.000039
Name: proportion, dtype: float64

In [60]:
games['rating'].replace({'Overwhelmingly Positive': 95}, inplace=True)
games['rating'].replace({'Very Positive': 90}, inplace=True)
games['rating'].replace({'Mostly Positive': 80}, inplace=True)
games['rating'].replace({'Positive': 65}, inplace=True)
games['rating'].replace({'Mixed': 50}, inplace=True)
games['rating'].replace({'Negative': 35}, inplace=True)
games['rating'].replace({'Mostly Negative': 20}, inplace=True)
games['rating'].replace({'Very Negative': 10}, inplace=True)
games['rating'].replace({'Overwhelmingly Negative': 5}, inplace=True)

games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,90,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,65,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,90,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,True,False,False,50,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,90,88,8784,11.99,11.99,0.0,True

In [63]:
games['win'].replace({True: 1}, inplace=True)
games['win'].replace({False: 0}, inplace=True)

games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,1,False,False,90,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,1,False,False,65,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,1,True,True,90,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,1,False,False,50,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,1,True,False,90,88,8784,11.99,11.99,0.0,True

In [64]:
games['mac'].replace({True: 1}, inplace=True)
games['mac'].replace({False: 0}, inplace=True)

games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,1,0,False,90,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,1,0,False,65,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,1,1,True,90,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,1,0,False,50,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,1,1,False,90,88,8784,11.99,11.99,0.0,True

In [65]:
games['linux'].replace({True: 1}, inplace=True)
games['linux'].replace({False: 0}, inplace=True)

games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,1,0,0,90,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,1,0,0,65,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,1,1,1,90,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,1,0,0,50,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,1,1,0,90,88,8784,11.99,11.99,0.0,True

In [66]:
games['steam_deck'].replace({True: 1}, inplace=True)
games['steam_deck'].replace({False: 0}, inplace=True)

games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,1,0,0,90,84,2199,9.99,9.99,0.0,1
1,22364,BRINK: Agents of Change,2011-08-03,1,0,0,65,85,21,2.99,2.99,0.0,1
2,113020,Monaco: What's Yours Is Mine,2013-04-24,1,1,1,90,92,3722,14.99,14.99,0.0,1
3,226560,Escape Dead Island,2014-11-18,1,0,0,50,61,873,14.99,14.99,0.0,1
4,249050,Dungeon of the ENDLESS™,2014-10-27,1,1,0,90,88,8784,11.99,11.99,0.0,1

In [67]:
# games 출시 연도대로 sort
def convert_release_date_yearOnly(date):
    if pd.isnull(date):
        return date
    else:
        return date[:4]


games['date_release'] = games['date_release'].apply(convert_release_date_yearOnly)
games = games.sort_values("date_release")
games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
15005,282010,Carmageddon Max Pack,1997,1,0,0,90,85,428,9.99,9.99,0.0,1
31261,232770,POSTAL,1997,1,1,1,90,85,2329,0.00,0.00,0.0,1
47376,70,Half-Life,1998,1,1,1,95,96,72475,9.99,9.99,0.0,1
34507,224920,Legacy of Kain: Soul Reaver,1999,1,0,0,80,73,1467,0.00,0.00,0.0,1
8617,20,Team Fortress Classic,1999,1,1,1,90,85,5146,4.99,4.99,0.0,1

In [50]:
# price_original outlier check

Q1 = games['price_original'].quantile(0.25) # 0.99
Q3 = games['price_original'].quantile(0.75) # 11.99
print(Q1, Q3)

IQR = Q3-Q1
print(IQR) #11.0

upper_limit = Q3 + 1.5 * IQR # +28.49
lower_limit = Q1 - 1.5 * IQR # -15.51

print(upper_limit, lower_limit)

print(games['price_original'].max()) # 299.99

outliers = games[games['price_original'] > upper_limit]
print(outliers.head())

0.99 11.99
11.0
28.490000000000002 -15.51
299.99
       app_id                              title date_release   win    mac
13222    3900       Sid Meier's Civilization® IV         2006  True   True  \
25083    4230               RACE - The WTCC Game         2006  True  False
8522     8800  Civilization IV: Beyond the Sword         2007  True   True
1595    19000             Silent Hill Homecoming         2008  True  False
10606    7200          Trackmania United Forever         2008  True  False

       linux                   rating  positive_ratio  user_reviews
13222  False            Very Positive              92          2091  \
25083  False            Very Positive              80            75
8522   False  Overwhelmingly Positive              96          2738
1595   False                    Mixed              47          1553
10606  False            Very Positive              94          1868

       price_final  price_original  discount  steam_deck
13222         7.49           29.99      75.0        True
25083        39.99           39.99       0.0        True
8522          7.49           29.99      75.0        True
1595         39.99           39.99       0.0        True
10606        29.99           29.99       0.0        True