In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = 'recommendations.csv'

#비율 결정 (예시: 전체의 25퍼센트)
frac = 0.25

#동일값 출력을 위한 난수 고정
np.random.seed(0)

#랜덤으로 행을 스킵 스킵
skiprows = lambda i: i > 0 and np.random.rand() > frac
df_sample = pd.read_csv(filename, skiprows=skiprows)

df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9592525 entries, 0 to 9592524
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   app_id          int64
 1   helpful         int64
 2   funny           int64
 3   date            object
 4   is_recommended  bool
 5   hours           float64
 6   user_id         int64
 7   review_id       int64
dtypes: bool(1), float64(1), int64(5), object(1)
memory usage: 521.4+ MB

In [3]:
df_sample.head()

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
0,1172620,0,0,2020-11-04,True,89.1,117868,14
1,306130,0,0,2021-05-12,True,61.1,72528,15
2,635260,0,0,2022-01-30,True,177.0,73645,16
3,236850,23,4,2021-03-20,True,5.7,113677,24
4,304390,2,0,2017-03-23,False,180.6,380424,26

In [4]:
#새로운 데이터 샘플로 출력
output_filename = 'sampled_recommendations.csv'
df_sample.to_csv(output_filename, index=False)

output_filename

'sampled_recommendations.csv'